body {
  font-family: "Roboto", "Arial", "Source Han Sans K", "Source Han Sans C", sans-serif;
  max-width: 64em;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  margin: 2em 0;
  width: 100%;
}

th,
td {
  border: 1px solid;
  padding: 2px 4px;
}

th:first-child,
td:first-child {
  white-space: nowrap;
}

th:nth-child(2),
td:nth-child(2) {
  font-size: 0.9em;
}

#rawDictionaryInput,
#rawTableSpecsInput {
  height: 5em;
  width: 100%;
  resize: vertical;
}
